




.App{
  min-height:100vh;
  background-color:linen;
}
.search-form{
  min-height:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  margin: 10px;
}
.search-button{
  background-color: #d95a16;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-top: 10px;
}
.recipies{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}